@import 'typefaces.css';

:root{
  --main-font: 'PT Serif', serif ;
  --color-font-1: #e7e7e7;
}
*{
  margin: 0;
  padding: 0;
}
html {
  font-family: var(--main-font);
  color: var(--color-font-1);
}
body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
}
/*
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*/
a{ 
  color: var(--color-font-1);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease 0s
}

a:hover{
  color:white;
}
h1{
  font-family: 'PT Serif';
  font-weight: bold;
}
.layoutSections{
  margin-top: 50px;
  padding-top: 1px;
}
.headerLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  margin: 0 auto;
  background-color: #232323;
}
.logoSvg{
  fill: #ffffff;
  width: 240px;
}
.navIndexWrapper{
  width: 80%;
  background-color: #101010;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 90%;
  z-index: -1;
}
.navIndex {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navIndex__item {
  text-align: center;
  font-size: 25px;
}
.indexWrapper{
  overflow: hidden;
}

.navbarWrapper{
  height: 50px;
  background-color: gray;
}
.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #232323;
  border-bottom: 1px solid #4e4e4e;
}
.navbar__LeftButton{
  margin: 9px 0 0 10px;
  height: 30px;
  width: 30px;
  fill: whitesmoke;
}
.navbar__RightButton{
  margin: 7px;
  height: 30px;
  width: 30px;
}
.navbar__section{
  position: absolute;
  display: inline-block;
  line-height: 50px;
  /* margin: 0 auto; */
  margin-top: 0;
  right: 50%;
  transform: translateX(50%);
  font-size: 14px;
}
.carta__mensaje{
  
  font-family: 'Roboto', sans-serif;
  font-size: 0.89rem;
  font-weight: 300;
  margin: 0 30px;
  padding: 22px 0;
  text-align: center;
  border-bottom: 1px solid #404040;
}
.carta__lista{
  text-align: center;
}
.carta__itemLista{
  margin: 60px 0;
  font-size: 20px;
}


.carta__tituloSubseccion{
  text-align: center;
  /* margin-left: 25px; */
  line-height: 200px;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 1px solid gray;
}


.producto{
  font-family: 'Roboto';
  margin: 16px 17px 0px 17px;
  padding: 0px 5px 15px 5px;
  border-bottom: 1px solid #525252;
}
.producto__nombre{
  font-size: 21px;
}
.producto__categoría{

}
.producto__descripcion{
  font-weight: 300;
  margin: 3px 0 15px 0;
}
.producto__precio{
  font-family: 'Roboto', sans-serif;
  width: 73px;
  /* height: 50px; */
  /* border: 1px solid beige; */
  font-size: 24px;
  display: inline-block;
  text-align: right;
  font-weight: 500;
}
.producto__precioComa{
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
}
.producto__precioMoneda{
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 3px;
}
.producto__ingredientes{
  list-style: none;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.producto__ingrediente{
  margin: 5px 20px 5px 0;
}
.producto__piwrapper{

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.producto__bola-ingrediente{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.producto__texto-ingrediente{
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  width: 90px;
}

.cremas{
  margin: 30px;
}

.productoCrema{
  height: 42px;
  padding: 5px 0;
  margin-top: 2px;
  display:flex;
}
.productoCrema__icono{
  height: 40px;
}
.productoCrema__texto{
  margin-left: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.productoCrema__nombre{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  display: inline;
  margin-right: 8px;
}
.productoCrema__etiquetas{
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  list-style: none;
  display: inline;
  line-height: 11px;
}
.productoCrema__etiqueta{
  display: inline-block;
  margin: 2px 8px 0 0px;
  padding: 1px 6px 1px 6px;
  border: 1px solid white;
  border-radius: 6px;
}
.productoCrema__etiqueta--sinazucar{
  color: #93c2ef;
  border: 1px solid #93c2ef;
  /* border-left: 0; */
  /* border-top: 0; */
  /* border-right: 0; */
  /* border-bottom: 0;*/
}
.productoCrema__etiqueta--vegano{
  color: #5ed05e;
  border: 1px solid #5ed05e;
  /* border-left: 0; */
  /* border-top: 0; */
  /* border-right: 0; */
  /* border-bottom: 0;*/
}
/* Producto exp */
.tarrinas, .cucuruchos, .gofres_crepes_tortitas, .otros{
  margin: 30px 35px 0 35px;
}
.cucuruchos .productoBig {
  height: 110px;
}

.productoBig{
  height: 90px;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.productoBig__nombre{
  width: 35%;
  margin-top: 2px;
}
.productoBig__precio{
  width: 15%;
}
.productoBig_iconoWrapper{
  width: 15%;
}
.productoBig_icono{
  width: 36px;
  display: block;
  margin: 0 auto;
}
.productoBig_icono--grande{
  width: 43px;
}
.productoBig_icono--grandeCucu{
  width: 29px;
}
.productoBig_icono--dulce{
  width: 70px;
}
.espaciador{
  display: block;
  height: 15px;
}
.espaciador--2{
  height: 150px;
}

.eligeTuSabor{
  margin: 30px 40px 40px 30px;
}
.eligeTuSabor__textWrapper{
  margin-top: 33px;
}
.eligeTuSabor__iconos{
  display: flex;
  justify-content: space-between;
}
.eligeTuSabor__icono{
  width:  76px;
}
.eligeTuSabor__titulo{
  font-size: 24px;
  text-align: center;
}
.eligeTuSabor__lista{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  list-style: none;
  text-align: center;
  margin-top: 5px;
}

.productoEsp{
  margin: 16px 17px 0px 17px;
  padding: 0px 5px 15px 5px;
  border-bottom: 1px solid #525252;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.productoEsp__iconoWrapper{

}
.productoBig__icono{
  width: 86px;
  display: block;
  margin: 0 auto;
  transform: translateX(-9px);
}
.productoEsp__texto{
 
}
.productoEsp__nombre{
  line-height: 22px;
}
.productoEsp__descipcion{
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
}
.productoEsp__precioWrapper{
  /* min-width: 42px; */
}

.productoEsp .producto__precio {
  width: 0;
  min-width: 42px;
}

/* =========== */

/* COPAS */
.copas{
  /*padding-top: 3px;*/
}


.navigation--active{
  visibility: visible;
  /*position:fixed;*/
}
.navigation--hidden{
  display: none;
  visibility: hidden;
}

.avisoPC{
  display: none;
}

/* NOT MOBILE DEVICES */
@media (min-width: 640px) { 
  
.avisoPC {
  display: block;
  text-align: center;
  background-color: #b36f6f;
  margin: 0 auto;
  padding: 30px;
  border-radius: 27px;
  width: 302px;
  font-family: Roboto;
  font-size: 15px;
  color: #2d2020;

}

.avisoPC h1 {
  margin-bottom: 20px;
}

}


  
/*
.logoSvg{
  fill: #e5ff00;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}*/
/*
 font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    */

    /*
.copa__texto-ingrediente{
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}



.copa{
  font-family: 'Roboto';
  margin: 16px 17px 0 17px;
  padding: 0px 10px 0 10px;
  border-bottom: 1px solid #525252;
}
.copa__nombre{
  font-size: 21px;
}
.copa__categoría{

}
.copa__descripcion{
  font-weight: 300;
  margin: 3px 0 15px 0;
}
.copa__precio{
  width: 50px;
  /* height: 50px; */
  /*border: 1px solid beige; 
  font-size: 24px;
  display: inline-block;
  text-align: right;
  font-weight: 500;
}
.copa__precioComa{
}
.copa__precioMoneda{
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 2px;
}
.copa__ingredientes{
  list-style: none;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.copa__ingrediente{
  margin: 5px 20px 5px 0;
}
.copa__piwrapper{

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.copa__bola-ingrediente{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.copa__texto-ingrediente{
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  width: 90px;
}




*/
